*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #181825;
  color: #cdd6f4;
  font-family: var(--font-roboto), sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
